.idea
/src/main/resources/memes/
/src/main/resources/quotes/
/src/main/resources/sounds/
/src/main/resources/utils/
/src/main/resources/utils/appManager.bat
/src/main/java/core/Launcher.java
discoobot.iml
src/test/
target/