.idea
/src/main/resources/memes/
/src/main/resources/quotes/
/src/main/resources/sounds/
/src/main/resources/utils/appManager.bat
/src/main/java/core/Launcher.java
/src/main/resources/utils/ffmpeg-amd64-2.7.1.exe